<div>SINGLE ROOM</div>

<div>
    <h3>{{room.roomName}}</h3>
    <p>{{room.currentEnrolled}}</p>
    <p>{{room.maxOccupancy}}</p>
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--6-col">
            <ul class="demo-list-icon mdl-list">
                <li class="mdl-list__item" ng-repeat="student in students">
                    <span class="mdl-list__item-primary-content">
                        <i class="material-icons mdl-list__item-icon chart-timeline"></i>
                        {{student.fullName}}
                    </span>
                    <span class="mdl-list__item-primary-content">
                        <i class="material-icons mdl-list__item-icon chart-timeline"></i>
                        {{student.age}}
                    </span>
                    <a type="button" class="button buttonBlack" ng-click="editStudentRoom(student.Id)">
                        edit room
                        <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
                    </a>
                </li>
            </ul>        </div>
        <div class="mdl-cell mdl-cell--6-col">
            <ul class="demo-list-icon mdl-list">
                <li class="mdl-list__item" ng-repeat="waitingStudent in waitingStudents">
                    <span class="mdl-list__item-primary-content">
                        <i class="material-icons mdl-list__item-icon chart-timeline"></i>
                        {{waitingStudent.fullName}}
                    </span>
                    <span class="mdl-list__item-primary-content">
                        <i class="material-icons mdl-list__item-icon chart-timeline"></i>
                        {{waitingStudent.age}}
                    </span>
                    <a type="button" class="button buttonBlack" ng-click="editWaitingStudentRoom(waitingStudent.Id)">
                        edit room
                        <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    
    <a type="button" class="button buttonBlack" ng-click="fillForm(room)">
        EDIT
        <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
    </a>
    <a type="button" class="button buttonBlack" ng-click="deleteRoom(room.Id)">
        DELETE
        <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
    </a>
</div>
