<form>
    <div class="group">
        <div class="mdl-textfield mdl-js-textfield">
            <input class="mdl-textfield__input" type="text" id="sample1" ng-model="student.FullName" ng-required>
            <span class="highlight"></span><span class="bar"></span>
            <label class="mdl-textfield__label" for="sample1" ng-show="!editing">Student Name (First Last)</label>
        </div>

    </div>

    <div class="group">
        <input type="date" ng-model="student.Birthday" ng-required><span class="highlight"></span><span class="bar"></span>
        <label ng-show="!editing">Birthday</label>
    </div>

    <div class="group">
        <div class="mdl-selectfield">
            <label ng-show="!editing">Enrolled</label>
            <select class="browser-default" ng-model="student.Enrolled">
                <option value="" disabled selected>SELECT</option>
                <option value="yes">Yes</option>
                <option value="no">No</option>
            </select>
        </div>
    </div>

    <div class="group">
        <div class="mdl-selectfield">
            <label ng-show="!editing">Waiting List</label>
            <select class="browser-default" ng-model="student.WaitingList">
                <option value="" disabled selected>SELECT</option>
                <option value="yes">Yes</option>
                <option value="no">No</option>
            </select>
        </div>
    </div>

    <div class="group">
        <div class="mdl-selectfield">
            <label ng-show="!editing">Paid Down Payment</label>
            <select class="browser-default" ng-model="student.PaidDownPayment">
                <option value="" disabled selected>SELECT</option>
                <option value="yes">Yes</option>
                <option value="no">No</option>
                <option value="no">NA</option>
            </select>
        </div>
    </div>

    <div class="group">
        <div class="mdl-selectfield">
            <label ng-show="!editing">Select Room</label>
            <select class="browser-default" ng-model="student.RoomId" ng-options="room.Id as room.RoomName for room in rooms">
                <option value="" disabled selected>Choose Room</option>
            </select>
        </div>
    </div>

    <!--<div class="group">
        <input type="date" ng-model="student.SubmissionDate"><span class="highlight"></span><span class="bar"></span>
        <label ng-show="!editing">Submission Date</label>
    </div>
    <div class="group">
        <input type="date" ng-model="student.StartDate"><span class="highlight"></span><span class="bar"></span>
        <label ng-show="!editing">Anticipated Start Date</label>
    </div>-->
    <button type="button" class="button buttonBlack" ng-show="!editing" ng-click="addStudent(student)">
        ADD
        <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
    </button>
    <button type="button" class="button buttonBlack" ng-show="editing" ng-click="saveStudent(student)">
        SAVE
        <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
    </button>
</form>



