<div>
    <hgroup>
        <h1>DuckDuck</h1>
        <h3>Sign Up</h3>
    </hgroup>
    <form>
        <div class="group">
            <input type="text" ng-model="newUser.email" ng-required><span class="highlight"></span><span class="bar"></span>
            <label>Email</label>
        </div>
        <div class="group">
            <input type="text" ng-model="newUser.location" ng-required><span class="highlight"></span><span class="bar"></span>
            <label>Childcare Center Location Name</label>
        </div>
        <div class="group">
            <input type="password" ng-model="newUser.password" ng-required><span class="highlight"></span><span class="bar"></span>
            <label>Password</label>
        </div>
        <div class="group">
            <input type="password" ng-model="newUser.passwordConfirm" ng-required><span class="highlight"></span><span class="bar"></span>
            <label>Password Confirm</label>
        </div>
        <button type="button" class="button buttonBlack" ng-click="registerNew(newUser)">
            Register/SignIn
            <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
        </button>
    </form>
</div>
