<div>
    <hgroup>
        <h1>ChickChick</h1>
        <h3>Sign Up</h3>
    </hgroup>
    <form>
        <div class="group">
            <input type="text" ng-model="email" ng-required><span class="highlight"></span><span class="bar"></span>
            <label>Email</label>
        </div>
        <div class="group">
            <input type="password" ng-model="password" ng-required><span class="highlight"></span><span class="bar"></span>
            <label>Password</label>
        </div>
        <div class="group">
            <input type="password" ng-model="passwordConfirm" ng-required><span class="highlight"></span><span class="bar"></span>
            <label>Password Confirm</label>
        </div>
        <button type="button" class="button buttonBlack" ng-click="registerNew()">
            Register/SignIn
            <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
        </button>
    </form>
</div>
